<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/page.css">
</head>
<body>
    <header>
        <h1>Welcome to <%= details.name %></h1>
        <p>This website is all about <%= details.description %></p>
    </header>
    <main>
        <p>This website is very unique, and not a single website is like us.</p>
    </main>
</body>
</html>
