header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header img{
    width: 35%;
    margin: 30px;
    
}

#button-div, #search-div{
    display: flex;
    justify-content: center;
    flex-basis: 100%;
    margin: 20px;
}

#search-div input{
    width: 50%;
    height: 2rem;
    border-radius : 12px;
    border: 1px solid lightgray;
}

div * {
    margin: 10px;

}

div.search-result{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid   #555;
    background-color: #EEE;
    border-radius: 8px;
    width: 40vw;
    margin : 5px;
    min-width: 300px;
}

div.search-result :nth-child(2){
    text-decoration: underline;
    color: blue;
}

#Search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5vw;
    
}

#button-div button{
    border: none;
    height: 2rem;
}

